<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id" content="592878734224-1ri6pfkmfslqvnv82ks1bs7n7scaljtn.apps.googleusercontent.com">
  <title>Schooly</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="wrapper">
		<header>
			<h1>
				<a href="/"> 🍏 Schooly 🍎 </a>
			</h1>
			<nav>
				{{#if logged_in}}
				<a href=""></a>
				<button id="logout" href="/" class="btn-no-style">Logout</button>
				{{else}} 
				<a href="/login">Login</a>
				<a href="/signup">Sign Up</a>
				{{/if}}
		
			</nav>    
		</header>
		
		<main>
			{{{ body }}}
		</main>
		
		<footer>
      ©️2021 Billy Dorman, Zion Flores, Jafet Manauth, Ricardo Salazar 
    </footer>
	</div>
		

	
		

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/js/logout.js"></script>
</body>
	
</html>