<div class="teacher-page" id="teacher">

    <body class="teacher-landing-page">
        <div class="login-card">
            <div class="login-card-header">
                <h2>Altering Students</h2>
                <ul class="nav">
                    <li class="nav-item">
                        <button class="roster-btn" id="principal-btn">
                            <a class="nav-link active" href="/dashboard/principal/student/add">Add Student</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="roster-btn" id="teacher-btn">
                            <a class="nav-link active" href="/dashboard/principal/student/remove">Remove Student</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="roster-btn" id="teacher-btn">
                            <a class="nav-link active" href="/dashboard/principal/student/update">Update Information</a>
                        </button>
                    </li>
                    
                    <li class="nav-item">
                        <button class="back-btn" id="teacher-btn">
                            <a class="nav-link active" href="/dashboard/principal">BACK</a>
                        </button>
                    </li>
                    <ul id="roster-el">

                    </ul>
                </ul>
            </div>
        </div>
</div>