<div class="index-landing-page">
    <div class="index-card">
        <div class="index-wrap">

            <div class="index-card-header">
                <h2><em>School. <br> Done Right.</em></h2>
                <h3>Log In or Sign Up Now!</h3>
            </div>

            <div class="index-features">

                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="https://img.icons8.com/ios/100/000000/fast-track--v2.png" alt="fast" />
                    </div>
                    <h3>Quick And Easy!</h3>
                </div>

                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="https://img.icons8.com/ios/100/000000/bossy.png" alt="admin" />
                    </div>
                    <h3>Administrator</h3>
                </div>

                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="https://img.icons8.com/carbon-copy/100/000000/teacher.png" alt="teacher" />
                    </div>
                    <h3>Teachers</h3>
                </div>

                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="https://img.icons8.com/ios-glyphs/90/000000/student-registration.png" alt="student" />
                    </div>
                    <h3>Students</h3>
                </div>

                <div class="feature-card">
                    <div class="feature-icon">
                       <img src="https://img.icons8.com/windows/96/000000/24-7-open-sign-.png" alt="247" />
                    </div>
                    <h3>Available 24/7</h3>
                </div>

                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="https://img.icons8.com/ios-glyphs/90/000000/mobile-email.png" alt="mobile" />
                    </div>
                    <h3>Mobile Friendly</h3>
                </div>

                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="https://img.icons8.com/ios/100/000000/safe.png" alt="safe" />
                    </div>
                    <h3>Safe + Secure</h3>
                </div>
            </div>

        </div>
    </div>
</div>