<div class="teacher-page" id="teacher">

    <body class="teacher-landing-page">
        <div class="login-card">
            <div class="login-card-header">
                <h2>Remove Teacher</h2>
                
                <ul class="nav">
                    {{#each teachers as |teacher|}}
                    <li class="nav-item">
                        <button class="roster-btn" id="teacher-btn" onclick="deleteTeacher()">
                            <a class="nav-link active" href="#" id="{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}}</a>
                        </button>
                    </li>
                    {{/each}}

                    <li class="nav-item">
                        <button class="back-btn" id="teacher-btn">
                            <a class="nav-link active" href="/dashboard/principal/teacher">BACK</a>
                        </button>
                    </li>
                    <ul id="roster-el">

                    </ul>
                </ul>
                
            </div>
        </div>
</div>

<script>
    const deleteTeacher = async (event) => {
    event.preventDefault();
    const id = document.querySelector('#{{teacher.id}}').value.trim();
    
    const response = await fetch(`/api/teachers/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }
            });
            if (response.ok) {
                        alert('Succesfully Removed Teacher Profile');
                        document.location.replace('/dashboard/principal/teacher/add');
                    } else {
                        alert('Unable to Register Teacher.');
                    }
</script>