<div class="signup-page">

  <body class="index-landing-page">
    <div class="signup-card">
      <div class="signup-wrap">

        <div class="signup-card-header">
          <h2>Register Here</h2>
        </div>

        <form class="signup-form">
          <div>
            <input class="field" type="text" id="firstname-signup" placeholder="first name" />
          </div>

          <div>
            <input class="field" type="text" id="lastname-signup" placeholder="last name" />
          </div>

          <div>
            <input class="field" type="text" id="email-signup" placeholder="e-mail address" />
          </div>

          <div>
            <input class="field" type="text" id="username-signup" placeholder="create a username" />
          </div>

          <div>
            <input class="field" type="password" id="password-signup" placeholder="create a password" />
          </div>

          <div>
            <button type="submit" class="signup-btn">Sign Up!</button>
          </div>

        </form>
      </div>
    </div>
  </body>

</div>

<script src="/public/js/signup.js"></script>